<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card">
  
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p style="color: #fff; text-align: left;">&copy; 2002 - 2024 My Test Desk</p>
      </div>
      <div class="footer-col">
        <p style="color: #fff; text-align: right;">Reading - Writing - Publishing - This & That</p>
      </div>
    </div>
    
  </div>

</footer>
