---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-header {
  height: 16px;
  border-top: 5px solid #424242;
  background-color: #2196F3;
  color: #fff;
}

.site-header a:link, .site-header a:visited {
  color: #fff;
  text-decoration: none;
}

.site-header a:hover {
  color: #eee;
  text-decoration: none;
}

.post-header{
  text-align: center;
  border-bottom: 1px dashed #999;
}

.box-note {
  background-color: #eee;
  border-left: 6px solid #2196F3;
  padding: 10px;
  margin-bottom: 15px;
}
.site-footer {
  height: 16px;
  border-top: 1px solid #2196F3;
  background-color: #2196F3;
  color: #fff;
  border-bottom: 5px solid #424242;
}
